.App {
  text-align: center;
}

.flex-box-main {
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
  width: 100vw;
}

.flex-box-items {
  margin: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 198, 83);
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
  width: 100vw;
}

.flex-box-items:nth-child(1) {
  margin-right: 0;
}

.flex-box-row {
  display: flex;
  flex-direction: row;
}

table td {
  padding: 5px;
  background-color: #e3e3e3;
  border-radius: 5px;
}


